html, body {
      display: flex;
      justify-content: center;
      height: 100%;
      }
      body, div, h1, form, input, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      color: #666;
      }
      h1 {
      padding: 10px 0;
      font-size: 32px;
      font-weight: 300;
      text-align: center;
      }
      p {
      font-size: 12px;
      }
      hr {
      color: #a9a9a9;
      opacity: 0.3;
      }
      .main-block {
      max-width: 50%; 
      min-height: 80%; 
      padding: 10px 0;
      margin: auto;
      border-radius: 5px; 
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
      background: #ebebeb; 
      }
      button {
		  width: 100%;
		  padding: 10px 0;
		  margin: 10px auto;
		  border-radius: 5px; 
		  border: none;
		  background: #1c87c9; 
		  font-size: 14px;
		  font-weight: 600;
		  color: #fff;
      }
      button:hover {
		background: #26a9e0;
      }
	  output{
		  width: 100%;
		  min-height: 150px;
		  display: flex;
		  justify-content: flex-start;
		  flex-wrap: wrap;
		  gap: 15px;
		  position: relative;
		  border-radius: 5px;
		}

output .image{
  height:auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
    margin-left: auto;
  margin-right: auto;
}

output .image img{
  height: 100%;
  max-width: 100%;
  width: 100%;
}

output .image span {
  position: absolute;
  top: -4px;
  right: 4px;
  cursor: pointer;
  font-size: 22px;
  color: white;
}

output .image span:hover {
  opacity: 0.8;
}

output .span--hidden{
  visibility: hidden;
}